// ELEMENTS
@import '../assets/imports.styl'

/* 7d7ed33281e44c7092ef2f908536f698 */
.sidebar-list-item
  font-size 16px
  line-height 26px
  color c-blue1
  list-style none
  position relative
  padding-left 2*gs
  font-weight 400
  > a
    color inherit 
  &:before
    content ''
    position absolute
    left .5*gs
    top gs
    rect .6*gs
    background c-blue1
    border-radius 50%

/* ec9afeed491f9ee1f433b3ef35b6dd58 */
.sidebar-header
  color c-blue1
  font-weight 600
  font-size 18px
  line-height 26px

/* c389dcb7895129bf6e660063a6290571 */
.sidebar-about
  color c-blue1
  font-size 14px
  line-height 24px

/* 018b2f03df7c065c694e5892b9287021 */
.input
  outline none
  border 1px solid c-blue1
  min-height 4*gs // consider textrarea
  border-radius br
  display block
  width 100%
  padding-left gs
  font-size 16px
  color c-blue1
  &:focus, &:hover
    border 2px solid c-blue1
    border-color c-blue1

/* 9d86756becc3c306959936f4c7e3a19f */
.header-link
  color c-blue1
  font-size 16px
  line-height 22px
  display inline-block

/* e55a1d273d2927877a38268403c3d6d3 */
.icon-text
  color white
  .icon
    float left
    fill currentColor
  &__text
    margin-left 5*gs

/* 67e12e92af48d19f9837ee74a939186d */
a, .link
  text-decoration none
  position relative
  display inline-block
  color c-blue3
  cursor default
  line-height 22px
  // hl green
  &:hover
    cursor pointer
    &:after
      content ''
      width 100%
      height 0
      position absolute
      top 95%
      left 0
      border-bottom 1px solid
