.footer-share(class="#{el.class || ''}", id="#{el.id || ''}")
  - el = { path: 'twitter-icon', class: '', id: ''}
  include icon
  - el = { path: 'facebook-icon', class: '', id: ''}
  include icon
  - el = { path: 'linkedin-icon', class: '', id: ''}
  include icon