.footer(class="#{el.class || ''}", id="#{el.id || ''}")
  .footer__share
    - el = { class: '', id: ''}
    include footer-share
  .footer__blocks-l.cf
    .footer__links-block
      .footer__links-block__header Info
      div
        a.footer__links-block__item(href="#") About
      div
        a.footer__links-block__item(href="#") Press
      div
        a.footer__links-block__item(href="#") FAQ
      div
        a.footer__links-block__item(href="#") Support

    .footer__links-block
      .footer__links-block__header Product Demos
      div
        a.footer__links-block__item(href="#") Sample Reports
      div
        a.footer__links-block__item(href="#") Request Demo

    .footer__links-block
      .footer__links-block__header Legal
      div
        a.footer__links-block__item(href="#") Provacy Policy
      div
        a.footer__links-block__item(href="#") Terms of Use

    .footer__copy.
      ©Copyright 2014 StatSocial 
      (owned by PeekAnalytics, Inc). Patent Pending. 
      All Rights Reserved.