.post-credits(class="#{el.class || ''}", id="#{el.id || ''}")
  .credits-item
    span.post-credits__prefix in 
    a Celebrity accounts
  .credits-item
    span.post-credits__prefix by 
    a Audrey Hungerman
  .credits-item
    a Jan 9, 2014