.post
  h2 This post has very looong title and rantings you will love
  - el = { class: '', id: ''}
  include post-credits
  img(src="http://is.gd/3TQPzd" alt="")
  p.
    Lauer also stated that after co-host, Savannah Guthrie,
    hosted a Facebook chat on the TODAY Show page, he was inspired
    to connect with fans the same way. He even hosted a Facebook chat 
    of his own (having Guthrie do his typing).
  p.
    This post looks like short sketch. It has no image and 
    very loong meanless title. This post looks like short sketch. 
    It has no image and very loong meanless title. This post looks 
    like short sketch. It has no image and very loong meanless title.
  p
    <blockquote class="twitter-tweet" lang="en-gb"><p>Meet the rarest, most beautiful big cats in the world <a href="http://t.co/Y8w71CTVzm">http://t.co/Y8w71CTVzm</a>&#10;&#10;. <a href="http://t.co/qEVEatPxbJ">pic.twitter.com/qEVEatPxbJ</a></p>&mdash; Emergency Kittens (@EmrgencyKittens) <a href="https://twitter.com/EmrgencyKittens/statuses/479295076892278784">June 18, 2014</a></blockquote>

  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.

  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.

  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.

  img(src="http://is.gd/EcYgTr").is-right

  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.

  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.

  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.

  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.

  img(src="http://is.gd/GoPccO").is-left

  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.

  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.
  
  p.text-align-g
    img(src="http://is.gd/dotvZM")

  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.

  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.

  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.

  h5 Other LinkedIn updates include:
  ul
    li.
      “Cover photo” that LinkedIn is calling a background. 
      LinkedIn will provide you with some options for a picture
    li.
      Keyword suggestions to place in your profile to help you 
      stand out in the search
    li.
      Open Profile setting that allows anyone with a LInkedIn 
      profile to view your profile and contact you for free
    li.
      Advanced tracking to see users that have viewed you profile 
      and see how you stack up against other users
    li.
      Premium Spotlight plan that includes all new features
  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.

  blockquote.
    This is a quote. looks like short sketch. It has no image and 
    very loong meanless title. This post looks like short sketch. 
    It has no image and very loong meanless title. This post looks 
    like short sketch. It has no image and very loong meanless title.

  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.

  h4 The Best
  p(style="text-align:center"): strong 1. Ellen being Ellen
  
  .center-tweet
    <blockquote class="twitter-tweet" lang="en-gb"><p>New IO Byte with <a href="https://twitter.com/alexanderdanilo">@alexanderdanilo</a>: Silky smooth Web Animations <a href="http://t.co/47wojj9XKU">http://t.co/47wojj9XKU</a> <a href="https://twitter.com/search?q=%23io14&amp;src=hash">#io14</a> <a href="https://twitter.com/search?q=%23iobytes&amp;src=hash">#iobytes</a></p>&mdash; Google Developers (@googledevs) <a href="https://twitter.com/googledevs/statuses/479322940882710529">June 18, 2014</a></blockquote>

  p
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.
    | This post looks like short sketch. It has no image and 
    | very loong meanless title. This post looks like short sketch. 
    | It has no image and very loong meanless title. This post looks 
    | like short sketch. It has no image and very loong meanless title.
  
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
