.sidebar
  .sidebar-header.sidebar__about-header What is StatSocial?
  .sidebar-about StatSocial delivers enterprise-class Twitter analytics that help marketers understand their social consumers. By identifying where Twitter users exist elsewhere on the Web, StatSocial offers an unparalleled level of demographic and psychographic insights from consumer data aggregated not just from Twitter, but from over sixty social sites and every major blog platform.
  - el = { class: 'sidebar__search' }
  - el.input = { class: '', id: 'input-a626e67bfe00a71c44968bae92cb6a6c'}
  - el.icon =  { path: 'search-icon' }
  include input-icon

  .sidebar-header.m-t-x3-g Recent Posts
  - el = { items: [{text: 'Matt Laure Joins Facebook'},{text: 'Obama takes Tumblr'},{text: 'The Best & Worst of Twitter: Week of 6/1/2014'}], class: '', id: ''} 
  include sidebar-list

  .sidebar-header.m-t-x2-g Archives
  - el = { items: [{text: 'June 2014'},{text: 'May 2014'},{text: 'April 2014'}], class: '', id: ''} 
  include sidebar-list

  .sidebar-header.m-t-x2-g Recent Posts
  - el = { items: [{text: 'Matt Laure Joins Facebook'},{text: 'Obama takes Tumblr'},{text: 'The Best & Worst of Twitter: Week of 6/1/2014'}], class: '', id: ''} 
  include sidebar-list

  .sidebar-header.m-t-x2-g Recent Posts
  - el = { items: [{text: 'Matt Laure Joins Facebook'},{text: 'Obama takes Tumblr'},{text: 'The Best & Worst of Twitter: Week of 6/1/2014'}], class: '', id: ''} 
  include sidebar-list

  .sidebar-header.m-t-x2-g Recent Posts
  - el = { items: [{text: 'Matt Laure Joins Facebook'},{text: 'Obama takes Tumblr'},{text: 'The Best & Worst of Twitter: Week of 6/1/2014'}], class: '', id: ''} 
  include sidebar-list