.sidebar-n-panel(class="#{el.class || ''}", id="#{el.id || ''}")
  .sidebar-n-panel__sidebar-l
    include sidebar
  - el = { class:'', inputId: el.inputId || '2dd245c639f53c95bb8dda4ae880acc1' }
  include sidebar-panel