// EFFECTS
@import '../assets/imports.styl'

topBorder = 16*gs
.posts-page
	padding-bottom 20*gs
	.post
		margin-top 4*gs
		margin-left auto
		margin-right auto
		z-index contentLayer
		&:first-of-type
			margin-top topBorder

	.load-more-posts
		max-width 600px
		margin 0 auto
		margin-top topBorder