// EFFECTS
@import '../assets/imports.styl'

footerHeight = 30*gs

.base-p
  &__core
    margin-top headerHeight + 5*gs
    max-width 140*gs
    background white
    margin-bottom footerHeight
    position relative
    z-index contentLayer
    box-shadow 0 gs 0 rgba(c-grey1, .1)
    transition shadow .3s linear
    fly()
    &.is-clean-shadow
      box-shadow none
    &__sidebar
      float left
      position relative
      z-index headerLayer
      @media screen and (max-width:1100px)
        position fixed
        height 100%
        top 0
        // bottom 0
        .sidebar-panel
          height 100%
          padding-top headerHeight
        .sidebar
          margin-top headerHeight
          padding-top 5*gs
          padding-bottom headerHeight + 8*gs

    &__main
      margin-left headerLeftSize
      text-align center
      padding-bottom 6*gs
      padding-right 2*gs
      @media screen and (max-width:1100px)
        margin-left 4*gs + 4*gs
        padding-right 4*gs
      &__line
        display inline-block
  &__footer
    background c-blue2
    min-height footerHeight
    width 100%
    position fixed
    bottom 0
    left 0
    z-index baseLayer
    // background c-blue3 url('http://placekitten.com/100/100') repeat left top

  .header
    position absolute
    nw 0
    width 100%
    z-index headerLayer
    &.is-fixed
      down-shadow()
      position fixed
      nw 0
      width 100%

  .scroll-top
    position fixed
    z-index headerLayer
    opacity 0
    se -5*gs
    &.is-showed
      opacity 1
      se 2*gs
      transition opacity .5s linear






