// EFFECTS
@import '../assets/imports.styl'

footerHeight = 25*gs
mobileFooterHeight = 28.5*gs
maxWidth = 140*gs

.base-p
  width 100%
  &__core
    background white
    margin-bottom footerHeight
    position relative
    z-index contentLayer
    box-shadow 0 gs 0 rgba(c-grey1, .1)
    @media screen and (max-width:568px)
      margin-bottom mobileFooterHeight

    &.is-clean-shadow
      box-shadow none
    &__wrapper
      max-width maxWidth
      background inherit
      padding-top headerHeight + 5*gs
      fly()
      @media screen and (max-width:568px)
        padding-top headerHeight

    &__sidebar
      float left
      position relative
      z-index headerLayer
      @media screen and (max-width:1100px)
        position fixed
        height 100%
        top 0
        .sidebar-panel
          height 100%
          padding-top headerHeight
        .sidebar
          margin-top headerHeight
          padding-top 5*gs
          padding-bottom headerHeight + 8*gs
    &__main
      margin-left headerLeftSize
      text-align center
      padding-bottom 6*gs
      padding-right 2*gs
      @media screen and (max-width:1100px)
        margin-left 4*gs + 4*gs
        padding-right 4*gs
      @media screen and (max-width:568px)
        margin-left 4*gs
      @media screen and (max-width:520px)
        margin-left 0
        padding-right 0
      &__line
        display inline-block
  &__footer
    height footerHeight
    width 100%
    position fixed
    bottom 0
    left 0
    z-index baseLayer
    background c-blue2
    @media screen and (max-width:568px)
      height mobileFooterHeight
    &__core
      max-width maxWidth
      background c-blue3
      height inherit
      fly()
      @media screen and (max-width:1100px)
        padding-left 3*gs
      @media screen and (max-width:568px)
        padding-left 0

      .mobile-footer
        display none
        @media screen and (max-width:568px)
          display block

      .footer
        @media screen and (max-width:568px)
          display none

  .header
    position fixed
    nw 0
    width 100%
    z-index headerLayer
    &.is-fixed
      down-shadow()

  .scroll-top
    position fixed
    z-index headerLayer
    opacity 0
    se -5*gs
    &.is-showed
      opacity 1
      se 2*gs
      transition opacity .5s linear






